.container{
    display: flex;
    justify-content: space-around;
   
    margin: auto;
    align-items: center;
    background-color: black;
    color: white;
}
.container h1{
    font-size: 30px;
    color: orangered;
    
}

.navtag ul{
   display: flex;
   justify-content: space-between;
    

}
.navtag ul li{
    display: inline-block;
    padding: 20px;
}
.navtag ul li:hover{
    color: orangered
}